<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Model Ekle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="brandAddForm" class="form">
            <div class="form-floating mb-3">
              <input
                type="text"
                id="brandName"
                formControlName="brandName"
                class="form-control"
                placeholder="Model"
              />
              <label for="brandName">Model</label>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-primary" (click)="add()">Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </div>