<div class="row">
  <div class="mb-3">
    <label for="searchText" class="form-label">İsme Göre Ara</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchText"
      id="searchText"
      placeholder="Bmw,Audi,Mercedes,Opel....."
    />
  </div>

  <div *ngIf="searchText" class="alert alert-success">
    {{ searchText }} aradınız.
  </div>

  <div class="row mt-3 m-auto mb-3">
    <div class="col-md-5">
      <app-brand-select (OnChange)="onBrandChange($event)"></app-brand-select>
    </div>
    <div class="col-md-5">
      <app-color-select (OnChange)="onColorChange($event)"></app-color-select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)="applyFilters()">
        Filtrele
      </button>
    </div>
  </div>

  <div
    *ngFor="let car of cars | filterPipe: searchText"
    class="myCard p-3 col-md-4"
  >
    <div class="card">
      <img [src]="SetImage(car)" class="card-img-top myimg" alt="..." />
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">{{ car.carName }}</li>
          <li class="list-group-item text-center">{{ car.brandName }}</li>
          <li class="list-group-item text-center">{{ car.modelYear }}</li>
          <li class="list-group-item text-center">
            Günlük Fiyat : {{ car.dailyPrice | currency: "₺" }}
          </li>
        </ul>
      </div>
      <button
        routerLink="/cars/detail/{{ car.id }}"
        (click)="setCurrentCar(car)"
        class="btn btn-primary float-end gap-2 mb-2"
        style="width: 40%; margin-left: 50%"
      >
        Detaylar
      </button>
    </div>
  </div>
</div>
