<div *ngIf="dataLoaded == false" class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded == true" class="table table-striped table-bordered">
    <thead class="table table-warning">
      <tr>
        <th scope="col">Car Id</th>
        <th scope="col">Araba İsmi</th>
        <th scope="col">Marka</th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.userId }}</td>
        <td>{{ customer.companyName }}</td>
      </tr>
    </tbody>
  </table>
  